{{ define "main" }}
  <section class="section section-page">
    <div class="section-inner">
      <h1>About</h1>
      <div class="content-block">
        <p>At BakeHouse 78, we take pride in offering a diverse range of freshly baked goods. Each day, we craft our products using the finest ingredients to ensure every bite is a delightful experience. Whether you are an individual satisfying a food craving or a cafe seeking quality baked goods, we cater to all.</p>
      </div>
      <div class="image-grid">
        <img src="/images-web/prep6.jpg" alt="The head baker" />
        <img src="/images-web/oven1.jpg" alt="The oven" />
        <img src="/images-web/carrot_slice1.jpg" alt="Carrot Cake" />
      </div>
      <div class="content-block">
        <h2>Our Story</h2>
        <p>Baking has been my passion since childhood, and after working as a nutritionist, I took a leap of faith to turn that passion into a full-time career. Gaining industry experience along the way, I eventually opened my kitchen—a space where creativity and dedication come together.</p>
        <p>Today, BakeHouse 78 is fuelled by my love for baking and a commitment to quality. Every treat is crafted with care, using locally sourced ingredients whenever possible. Though our team is small, our mission is big. I believe that every baked good is an opportunity to bring happiness and connection to those who enjoy it.</p>
      </div>
      <div class="content-block">
        <h2>Stockists</h2>
        <ul class="link-list">
          <li><a href="https://northumberlandhq.com" target="_blank" rel="noopener">Northumberland HQ</a></li>
          <li><a href="https://www.instagram.com/regularjoscoffee/" target="_blank" rel="noopener">Regular Jos</a></li>
          <li><a href="https://northumberlandcoffee.com" target="_blank" rel="noopener">Northumberland Coffee</a></li>
          <li><a href="https://www.instagram.com/littlebrewcoffeeco/" target="_blank" rel="noopener">Little Brew</a></li>
          <li><a href="https://www.instagram.com/halcyonhousecafe/" target="_blank" rel="noopener">Halcyon House Cafe</a></li>
          <li><a href="https://www.facebook.com/ashbrookehome/" target="_blank" rel="noopener">AshBrooke Home</a></li>
          <li><a href="https://www.nomadflowerden.co.uk/" target="_blank" rel="noopener">Nomad Flower Den</a></li>
        </ul>
      </div>
      <div class="content-block">
        <h2>Our Team</h2>
        <p>Currently, the heart and soul of BakeHouse 78 is just me and my oven. With a deep passion for baking and a commitment to quality, I personally craft each delicious baked good using local ingredients. While our team may be small, our dedication to creating exceptional treats and sharing the joy of cooking remains unwavering.</p>
      </div>
    </div>
  </section>
{{ end }}
